<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Presupuesto</title>
</head>

<!-- En el body vamos a separar la cabecera, main y footer -->
<body> 
    <header>
        <!-- Creamos una clase cabecera donde introducimos la imagen del logo de la empresa -->
        <div class="cabecera"><img src="../images/logo_frutas_antonio.jpg" alt="Logo frutas antonio" width="500" height="300"></div>
        <nav>
            <!-- A Continuacion creamos otra clase menu, y dentro de ella creamos otra para cada uno de los botones -->
            <div class="menu">
                <span class="boton">
                    <a href="../index.html" class="menu">Inicio</a>
                </span>
                <span class="boton">
                    <a href="productos.html" class="menu">Productos</a>
                </span>
                <span class="botonin">
                    <a href="presupuesto.html" class="menu">Presupuesto</a>
                </span>
                <span class="boton">
                    <a href="contacto.html" class="menu">Contacto</a>
                </span>
            </div>
        </nav>
    </header>

    <!-- En este caso no tenemos main, despues de la cabecera introducimos una seccion donde irá nuestro cuestionario -->
    <section class="cajapresu">
        <div class="alinear">
            <form class="registro">
                <h1>Formulario de registro</h1>
                <div class="labelinput">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre">
                </div>
                <div class="labelinput">
                    <label for="direccion">Direccion</label>
                    <input type="text" name="direccion" id="direccion">
                </div>
                <div class="labelinput">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email">
                </div>
                <div class="labelinput">
                    <label for="informacion">Mas informacion</label>
                    <textarea cols="30" name="informacion" id="informacion"></textarea>
                </div>
                <div class="labelinput">
                    <input type="checkbox" name="politicas de empresa" value="si" required>
                    <label>He leido y acepto las politicas de empresa</label>
                </div>
                <button type="submit" name="submit" value="submit">Enviar</button>
            </form>
        </div>
    </section>

    <!-- Por ultimo, creamos el footer donde añadiremos la direccion, redes sociales y un aviso legal de la empresa -->
    <footer>
        <p>Calle Salvador Muñoz nº15</p>
        <div id="instagram">
            <img src="/images/instagram.png" alt="logo">  
            <a href="http://www.instagram.com" target="_blank">@Frutas_Antonio</a>
        </div>
        <a href="./Aviso_legal_empresa.txt" target="_blank">Aviso legal empresa</a>
    </footer>


</body>
</html>
